$font__hind: "Hind Vadodara", sans-serif;
$font__marker: "Permanent Marker", cursive;

@font-face {
  font-family: "Permanent Marker";
  src: url("../assets/fonts/PermanentMarker-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Hind Vadodara";
  src: url("../assets/fonts/HindVadodara-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Hind Vadodara";
  src: url("../assets/fonts/HindVadodara-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Hind Vadodara";
  src: url("../assets/fonts/HindVadodara-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
