<header class="header">
  <nav class="nav">
    <a href="/" class="nav__logo">AG</a>

    <ul class="nav__menu">
      <li class="nav__menu-item">
        <a class="nav__link" href="/">Home</a>
      </li>
      <li class="nav__menu-item">
        <a class="nav__link" href="/blog">Blog</a>
      </li>
      <li class="nav__menu-item">
        <a class="nav__link" href="/contact">Contact</a>
      </li>
    </ul>

    <ul class="nav__social">
      <li class="nav__social-item">
        <a href="{{ site.github }}" class="nav__social-link" aria-label="GitHub">
          {% include icons/_github.html %}
        </a>
      </li>
      <li class="nav__social-item">
        <a href="{{ site.linkedin }}" class="nav__social-link" aria-label="LinkedIn">
          {% include icons/_linkedin.html %}
        </a>
      </li>
      <li class="nav__social-item">
        <a href="{{ site.twitter }}" class="nav__social-link" aria-label="Twitter">
          {% include icons/_twitter.html %}
        </a>
      </li>
    </ul>
  </nav>
</header>