<header>
  <nav>
    <a href="/" class="nav__logo">Andrew Gabriel</a>
    <ul class="nav__social">
      <li class="nav__social-list-item">
        <a href="{{ site.github }}" class="nav__social-link">
          {% include icons/_github.html %}
        </a>
      </li>
      <li class="nav__social-list-item">
        <a href="{{ site.twitter }}" class="nav__social-link">
          {% include icons/_twitter.html %}
        </a>
      </li>
    </ul>

    <ul class="nav__menu">
      <li class="nav__menu-list-item">
        <a class="nav__menu-link" href="/services">Services</a>
      </li>
      <li class="nav__menu-list-item">
        <a class="nav__menu-link" href="/blog">Blog</a>
      </li>
      <li class="nav__menu-list-item">
        <a class="nav__menu-link" href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>