<div class="services">
  <div class="services__single">
    <div class="services__icon">{% include icons/_code.html %}</div>
    <h4 class="services__heading">Web</h4>
    <div class="services__content">
      <ul class="services__list">
        <li class="services__list-item">HTML5, CSS3, JavaScript (ES6+)</li>
        <li class="services__list-item">React, Vue.js, Next.js</li>
        <li class="services__list-item">SQL, PostgreSQL</li>
        <li class="services__list-item">
          Shopify, WordPress, Squarespace, Prismic, Hubspot
        </li>
      </ul>
    </div>
  </div>

  <div class="services__single">
    <div class="services__icon">{% include icons/_mobile.html %}</div>
    <div class="services__content">
      <h4 class="services__heading">Mobile</h4>
      <ul class="services__list">
        <li class="services__list-item">Cross Platform Development</li>
        <li class="services__list-item">Android & iOS</li>
        <li class="services__list-item">Flutter, React Native</li>
      </ul>
    </div>
  </div>
</div>
